---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: traefik-account
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: traefik-role
rules:
  - apiGroups: [""]
    resources: ["services", "secrets", "nodes", "configmaps", "endpoints"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["discovery.k8s.io"]
    resources: ["endpointslices"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["networking.k8s.io"]
    resources: ["ingresses", "ingressclasses"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["networking.k8s.io"]
    resources: ["ingresses/status"]
    verbs: ["update"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: traefik-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: traefik-role
subjects:
  - kind: ServiceAccount
    name: traefik-account
    namespace: immunoodle
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-config
data:
  traefik-extra-config.yml: |
    http:
      middlewares:
        forcehttpsredirect:
          redirectScheme:
            scheme: https
            permanent: false
        dex-account-stripprefix:
          stripPrefix:
            prefixes:
              - "/dex/account"
            forceSlash: false
        data-portal-stripprefix:
          stripPrefix:
            prefixes:
              - "/data-portal"
            forceSlash: false
        i-spi-stripprefix:
          stripPrefix:
            prefixes:
              - "/i-spi"
            forceSlash: false
        addslashbyredirect:
          redirectRegex:
            regex: "^[https]+://([^/]+)/([^/]+)$"
            replacement: "https://${1}/${2}/"
---
apiVersion: v1
kind: Service
metadata:
  name: traefik-web-service
spec:
  type: LoadBalancer
  ports:
    - name: web
      port: 80
      targetPort: web
    - name: websecure
      port: 443
      targetPort: websecure
  selector:
    app: traefik
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: traefik
  labels:
    app: traefik
spec:
  replicas: 1
  selector:
    matchLabels:
      app: traefik
  template:
    metadata:
      labels:
        app: traefik
    spec:
      serviceAccountName: traefik-account
      containers:
        - name: traefik
          image: traefik:v3.5.4
          args:
            - --entrypoints.web.address=:80
            - --entryPoints.websecure.address=:443/tcp
            - --providers.kubernetesingress
            - --providers.kubernetesingress.disableclusterscoperesources
            - --providers.kubernetesingress.namespaces=immunoodle
            - --providers.file.filename=/opt/traefik-extra-config.yml
            - --log.level=INFO
            - --accesslog=true
            - --api.dashboard=false
          ports:
            - name: web
              containerPort: 80
            - name: websecure
              containerPort: 443
          volumeMounts:
            - name: config
              mountPath: /opt/traefik-extra-config.yml
              subPath: traefik-extra-config.yml
      volumes:
        - name: config
          configMap:
            name: traefik-config
